@import 'utils/mixins/mixins';
.banner {
    background-image: url("./assets/images/banner.png");
    min-height: 806px;
    //height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &#background-video {
        width: 100vw;
        min-height: 806px;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    img {
     margin-top: -10%;
     width: 50%;
     position: absolute;
     z-index: 2;
     @include floating;
    

}
}
  
     body.scroll-down .banner img {
         @include floating;
         @include parallaxe-down;
   }

                // responsive

@media all and (max-width: 700px) {

    #background-video {
        display: none !important;
    }

     .banner {
         img {
             //display: block;
             width: 80%;
             animation: none;
             -webkit-animation: none;
 }
}
    body.scroll-down .banner img {
        animation: none;
    }
}