@import 'utils/variables/colors';
@import'utils/variables/_typography';
@import 'utils/variables/_breakpoints';
@import 'utils/mixins/mixins';

$max-width: 1440px;

.header_container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    .header {
        position: relative;
        z-index: 1;
        background-color: $color__navigation_bg;
        display: flex;
        max-width: $max-width;
        height: 75px;
        align-items: center;


        h1 {
            margin: 0 auto;

            a {
                margin: 0;
                text-decoration: none;
                font-family: $font__titles;
            }
        }

        .menu-burger {
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 5em;
            cursor: pointer;

            .bar {
                width: 100%;
                height: 4px;
                background-color: black;
                transition: transform 0.3s ease-in-out;
            }

            &.open {
                .bar:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                .bar:nth-child(2) {
                    opacity: 0;
                }

                .bar:nth-child(3) {
                    transform: rotate(-45deg) translate(5px, -5px);
                }
            }
        }
    }

}

nav {
    position: fixed;
    background-color: $color__background-body;
    /* Fond jaune */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 998;
    /* Z-index inférieur à celui du .header_container */
    font-family: $font__main;
    padding-bottom: 2.5em;


    &.open {
        display: flex !important;
        position: relative;
        top: 0;
        left: 0;
        width: $max-width;
        height: 100vh;

        .menu-decorations {
            position: relative;
            top: 0;
            left: 0;
            width: $max-width;
            height: 100%;
            overflow: hidden;
            padding-top: 5em;

            &::after {
                content: url("./assets/images/hibiscus_footer.png");
                position: absolute;
                bottom: -35%;
                right: -22%;
                @include rotation;
            }
        }

        .menu {
            list-style: none;
            padding: 0;
            margin: -4em 0 0 0;
            text-align: center;
            height: 100%;
            width: 100%;
            

            li {
                margin-top: 2em;
                position: relative;
                width: 95%;

                &:first-child {
                    &::before {
                        content: url("./assets/images/orchid.png");
                        position: absolute;
                        left: -4%;
                        top: 10%;
                        @include rotation;
                    }
                }

                &:nth-child(2) {
                    &::before {
                        content: url("./assets/images/nav/cat.png");
                        position: absolute;
                        left: 21%;
                        bottom: 8%;
                        @include float(0s, -5deg);
                    }

                    &::after {
                        content: url("./assets/images/Sunflower.png");
                        position: absolute;
                        right: 14%;
                        bottom: 20%;
                        @include rotation;
                    }
                }

                &:nth-child(3) {

                    &::after {
                        content: "";
                        position: absolute;
                        right: -9%;
                        top: -10%;
                        width: 100px;
                        height: 100px;
                        background-image: url("./assets/images/nav/random_flower.png");
                        background-size: cover;
                        @include rotation;
                    }

                }


                &:nth-child(4) {
                    &::before {
                        content: url("./assets/images/nav/flower.png");
                        position: absolute;
                        left: 15%;
                        bottom: 10%;
                        @include rotation;
                    }


                    &::after {
                        content: url("./assets/images/nav/cat_2.png");
                        position: absolute;
                        right: 15%;
                        @include float(0.5s, 10deg);
                    }

                }

                &:last-child {
                    padding-top: 3em;
                    font-size: 20px;

                    &::before {
                        content: url("./assets/images/nav/cat_1.png");
                        position: absolute;
                        bottom: 35%;
                        left: 5%;
                        @include float(0s, -5deg);
                    }


                }

                a {
                    color: $color__link;
                    text-decoration: none;
                    font-size: 50px;

                    &:hover {
                        text-shadow: -1px -1px 8px rgba(255, 92, 0, 1);
                    }
                }


            }
        }
    }
}

//* tres grand ecran
@media (min-height: 1100px) {
    nav {
        &.open {
            .menu-decorations {
                padding-top: 15em;
                &::after {
                    right: -20%;
                    bottom: -25%;
                }
            }

            .menu {
                margin: -13em 0 0 0;
                text-align: center;
                height: 100%;


                li {
                    width: 100%;
                    margin-top: 5em;

                    &:first-child {
                        &::before {
                            left: -6%;
                        }
                    }

                    &:nth-child(2) {
                        &::before {
                            left: 18%;
                        }

                        &::after {
                            right: 18%;
                        }
                    }

                    &:nth-child(3) {

                        &::after {
                            right: -3%;
                            top: 100%;
                        }
                    }

                    &:nth-child(4) {
                        &::before {
                            left: 12%;
                        }

                        &::after {
                            right: 15%;
                        }
                    }

                    a {
                        font-size: 50px;
                    }
                }
            }
        }
    }
}


//*tablette
@media (min-width: 701px) and (max-width: $breakpoint__tablet) {


    nav {
        &.open {
            width: 100%;

            .menu-decorations {
                width: 100%;
                padding-top: 12em;

                &::after {
                    right: -40%;
                    bottom: -28%;
                }
            }

            .menu {
                text-align: center;
                height: 100%;

                li {
                    width: 100%;
                    margin-top: 5em;

                    &:first-child {
                        &::before {
                            left: -9%;
                            top: -5%;
                        }
                    }

                    &:nth-child(2) {
                        &::before {
                            left: 11%;
                        }

                        &::after {
                            right: 8%;
                            bottom: 80%;
                        }
                    }

                    &:nth-child(3) {

                        &::after {
                            right: -5%;
                            top: 50%;
                        }
                    }

                    &:nth-child(4) {

                        &::before {
                            left: 10% !important;
                        }

                        &::after {
                            position: absolute;
                            right: 7% !important;
                        }
                    }

                    a {
                        font-size: 50px;
                    }
                }
            }
        }
    }
}

//* mobile
@media all and (max-width: $breakpoint__large_phone) {
    .header_container {
        .header {
            h1 {
                font-size: 1.3em;
            }
        }

        .menu-burger {
            margin-right: 1.5em !important;
        }
    }

    nav {
        &.open {
            width: 100%;

            .menu-decorations {
                &::after {
                    display: none;
                }
            }

            .menu {
                margin: -4em 0 0 0;

                li {
                    width: 100%;
                    margin-top: 2em;

                    &::before,
                    &::after {
                        display: none;
                    }

                    &:last-child {
                        margin-top: 0;
                        font-size: 14px;
                    }

                    a {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}