@import 'utils/variables/breakpoints';

// section personnages

.story #characters {
    display: flex;
    flex-direction: column;
    margin-top: 10em;


    h3 {
        width: 60%;
        font-size: 3rem;
        padding: 1em 2em;
    }

}

// responsive
@media all and (max-width: $breakpoint__tablet) {
    .story #characters {
        margin-top: 0;

        h3 {
            width: 100%;

        }
    }


}

@media all and (max-width: $breakpoint__large_phone) {
    .story #characters {
        margin-top: 0;

        h3 {
            width: 100%;
            font-size: 28px;
        }
    }
}

// SLIDER 

.swiper {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;


    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 400px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.3));
        -webkit-filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.3));
    }

    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
        border-radius: 30%;
    }
}


@media all and (max-width: $breakpoint__large_phone) {

    .swiper {
        .swiper-slide {
            width: 200px;
            height: 200px;
        }
    }



}