//* ROTATION FLEURS

@mixin rotation {
    animation: rotation 15s linear infinite;
    -webkit-animation: rotation 15s linear infinite;

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}


//* FLOTTEMENT LOGO

  @mixin float($delay) {
    animation: floating 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate $delay;
  }
  
  @keyframes floating {
    25% {
      transform: translate(10px, 10px) rotate(10deg);
    }
    50% {
      transform: translate(-10px, 10px) rotate(-5deg);
    }
    75% {
      transform: translate(10px, -5px) rotate(10deg);
      -webkit-transform: translate(10px, -5px) rotate(10deg);
      -moz-transform: translate(10px, -5px) rotate(10deg);
      -ms-transform: translate(10px, -5px) rotate(10deg);
      -o-transform: translate(10px, -5px) rotate(10deg);
}
  }
  